body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.task-group {
  margin-bottom: 20px;
}

.task {
  margin-bottom: 10px;
}

.progress-bar {
  display: flex;
  height: 20px;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
}

.work {
  background-color: #4caf50; /* Cor para trabalho */
}

.pause {
  background-color: #ff9800; /* Cor para pausa */
}

.task-buttons {
  margin-top: 5px;
}

button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
